html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}

body{
  background-color:rgb(231, 207, 207);
}
h2 {
  font-size: 1.1em;
}

#cajita{
  margin: auto 1em;
  text-align: center;
  border: rgb(65, 59, 0) double 0.5vw;

}

#titulooo{
  margin-top: 1em;
  margin-bottom: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(66, 16, 3);
}
#subtitulooo{
  color: rgb(142, 81, 11);
}
.tarjeta{
  background: rgba(66, 16, 3, 0.245);
  width:50vw;
  margin: auto;
  border-radius: 5%;
}

#foto {
 height: 300px;
  border: #ff7300 solid 5px;
  margin-top: 15px;
}

.tituloPrediccion {
  font-size: 2em;
}

.prediccion {
  font-size: 1.5em;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #3d00fdb5;
  color: white;
  margin-bottom: 2em;
  cursor: pointer;
}