html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}

body{
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/none/path/s2217cd0bb1220415/image/idaf83e2de79e7fa2/version/1740035107/he-ruins-of-the-tholos-of-delphi-in-greece-with-its-three-standing-columns-framed-by-mountains-and-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  font-size: 1.1em;
}

#cajita{
  margin: auto 1em;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  text-align: center;
  background-color: rgb(219, 201, 201);
  border: rgb(65, 59, 0) double 0.5vw;
  height: auto;
  width: auto;
  padding: 5%;
  
}

#titulooo{
  margin-top: 1em;
  margin-bottom: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(66, 16, 3);
}
h3{
  color: rgb(108, 60, 6);
  cursor: pointer;
}
#caja {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

}


.tarjeta{
  background: rgba(66, 16, 3, 0.245);
 border: #844817 dashed 0.2dvw;
  width:45vw;
  height:auto;
  margin: 5em;
  border-radius: 5%;
 


}

#foto {
 height: 18vw;
 width: 20vw;
  border: #844817 dotted 0.2vw;
  border-radius: 5%;
  margin-top: 1em;
}

.tituloPrediccion {
  font-size: 1.5em;
  color: rgb(65, 36, 7);
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin:0.3em;
}

.prediccion {
  font-size: 1.2em;
  color: rgba(65, 36, 7, 0.853);
  margin:0.3em;
}
.historiaPrincipal {
  font-size: 1em;
  color: rgba(65, 36, 20, 0.853);
  margin:0.3em
}


.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #362303;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
}

